// Pinocho
// $green:    #f9b234;

// Fisuhh
// $green:    #B68EFF;

// Inidca
// $green:    #209fc8;
// $blue: #209fc8;

// Cali
// $green:    #D8CDB8;
// $blue: #D8CDB8;

// Refrigeracion colman
$green:    #4987ba;

// NebulaStore
// $green:    #364f99;

// Kas aberturas 
// $green:    #f9b234;

// $theme: dark;
$theme: ligth;

// $color_text: #333;
$color_text: rgba(255,255,255,.9);

// $blue: #007bff;
// $blue: #28a745;
// $blue: #6c757d;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';